@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/vazir/Vazir.eot");
  src: url("../public/fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/vazir/Vazir.woff2") format("woff2"),
    url("../public/fonts/vazir/Vazir.woff") format("woff"),
    url("../public/fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family:"Vazir", "Poppins", sans-serif !important;
  direction:rtl;
}

h1,
h2 {
 font-family:"Vazir"
}

p {
  @apply text-neutral;
}

::selection {
  @apply bg-secondary text-primary;
}

/* Width and height */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color:rgb(1 188 31 / 0.8);
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(1 188 31 / 0.5);
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Resizer */
::-webkit-scrollbar-resizer {
  background-color: #ddd;
}

input[type="radio"] {
  @apply form-radio;
}

input[type="checkbox"] {
  @apply form-checkbox;
}

select {
  @apply form-select;
}

textarea {
  @apply form-textarea;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="search"] {
  @apply form-input rounded text-sm;
}

input,
textarea,
select {
  @apply focus:!ring-0 focus:!outline-0 focus:!outline-offset-0 focus:!border-primary;
}

textarea {
  @apply form-textarea rounded text-sm resize-none;
}

select {
  @apply form-select rounded text-sm resize-none;
}



blockquote {
  border-right: 4px solid rgb(0 0 0 / 0.4); /* رنگ ایندگو */
  padding: 16px;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
  margin: 20px 0;
  color: rgb(79 70 229 / 10);
}

.fullscreen-editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}
.table {
  border-collapse: collapse; /* برای کنار هم قرار گرفتن مرزها */
}

.table td, .table th {
  border: 2px solid #3490dc; /* رنگ و ضخامت مرز سلول‌ها */
  padding: 8px; /* فاصله داخلی سلول‌ها */
}

.table th {
  background-color: #f4f4f4; /* رنگ پس‌زمینه هدر */
}

.ck-dropdown__panel{
  padding-right:200px !important;
}