@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir.eot");
  src: url("/fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("/fonts/vazir/Vazir.woff2") format("woff2"),
    url("/fonts/vazir/Vazir.woff") format("woff"),
    url("/fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vazir", "Poppins", sans-serif !important;
  direction: rtl;

}

h1,
h2 {
  font-family: "Vazir";
  @apply dark:text-gray-100
}

p {
  @apply text-neutral dark:text-gray-100;
}
.color-cyan{
  background-color: #152E4D;
}

::selection {
  @apply bg-secondary text-primary;
}

body::-webkit-scrollbar {
  display: none; /* مخفی کردن نوار اسکرول */
}
/* Width and height */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(1 188 31 / 0.8);
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(1 188 31 / 0.5);
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Resizer */
::-webkit-scrollbar-resizer {
  background-color: #ddd;
}

input[type="radio"] {
  @apply form-radio;
}

input[type="checkbox"] {
  @apply form-checkbox;
}

select {
  @apply form-select;
}

textarea {
  @apply form-textarea;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="search"] {
  @apply form-input rounded text-sm;
}

input,
textarea,
select {
  @apply 
  focus:!ring-0 focus:!outline-0 
  focus:!outline-offset-0 
  dark:!border-blue-500
  dark:!bg-[#0a2d4d] 
  dark:focus:!border-blue-500
  dark:focus:!bg-[#0a2d4d]
}
textarea {
  @apply form-textarea rounded text-sm resize-none;
}

select {
  @apply form-select rounded text-sm resize-none;
}

blockquote {
  @apply border-r-4 border-primary p-4 italic text-green-500 text-base leading-8 my-5;
}

/* حالت دارک مود */
.dark blockquote {
  @apply border-r-4 border-blue-500 p-4 italic text-blue-500 text-base leading-8 my-5;
}
.custom-button {
  @apply cursor-pointer rounded-full border border-green-500/5 dark:border-blue-500/5 bg-green-500/5 dark:bg-blue-500/5 p-2 text-green-500 dark:text-blue-500 transition-colors hover:border-green-500/10 dark:hover:border-blue-500/10 hover:bg-green-500/10 dark:hover:bg-blue-500/10 hover:!opacity-100 group-hover:opacity-70;
}

.apply-button {
  @apply cursor-pointer    border border-white dark:border-blue-800 py-2  text-green-500 bg-green-800/10 dark:bg-blue-800/10 dark:text-blue-500   text-center flex justify-center items-center
  transition-colors border-green-500/10 dark:border-blue-500/10 hover:bg-green-600/20 dark:hover:bg-blue-600/20  hover:!opacity-100 group-hover:opacity-70;
}

.reject-button {
  @apply border  border-red-600  py-2  bg-red-500/10 text-red-500 dark:text-red-500   text-center flex justify-center items-center transition-colors border-red-500/10 hover:bg-red-500/20  hover:!opacity-100 group-hover:opacity-70;
}

.delete-button {
  @apply line-clamp-1 cursor-pointer rounded-full border border-red-500/5 bg-red-500/5 p-2 text-red-500 transition-colors hover:border-red-500/10 hover:bg-red-500/10 hover:!opacity-100 group-hover:opacity-70 ;
}
.edit-button {
  @apply line-clamp-1 cursor-pointer rounded-full border border-green-500/5 bg-green-500/5 p-2 text-green-500 transition-colors hover:border-green-500/10 hover:bg-green-500/10 hover:!opacity-100 group-hover:opacity-70 ;
}

.link-hover {
  @apply hover:bg-green-500 dark:hover:bg-blue-500;
}

.slide-in-ul {
  @apply  relative cursor-pointer bg-transparent bg-repeat-round;
}

.slide-in-ul::before {
  @apply absolute before:transition-all before:mt-2  before:h-2 before:rounded-xl before:bg-primary dark:before:bg-blue-500;
  content: '';
  left: 50%;
  right: 50%;
  bottom: -4px;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease-in-out;
}

.slide-in-ul:hover::before {
  left: 0;
  right: 0;
  top:2;
}

.fullscreen-editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}
.table {
  border-collapse: collapse; /* برای کنار هم قرار گرفتن مرزها */
}

.table td,
.table th {
  border: 2px solid #3490dc; /* رنگ و ضخامت مرز سلول‌ها */
  padding: 8px; /* فاصله داخلی سلول‌ها */
}

.table th {
  background-color: #f4f4f4; /* رنگ پس‌زمینه هدر */
}

/* .ck-dropdown__panel {
  padding-right: 200px !important;
} */

.profile-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(220, 233, 245, 1)  ;
  background: rgba(220, 233, 245, 0.8);
}


.dark .profile-container{
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);

}
.profile-pic {
  width: 92%;
  height: 92%;
  object-fit: cover;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

.shine-effect::before,
.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background: rgba(220, 233, 245, 0.4)  ;
  transform: skewX(-45deg);
  border: 2px solid rgba(220, 233, 245, 0.8);
  animation: shine 3s infinite;
}

.dark .shine-effect::before {
  background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.8);

}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 200%; /* خروج کامل از تصویر */
  }
}
.wave {
  opacity: 0.8;
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: 6000px;
  height: 6000px;
  background-color: rgba(0, 135, 113, 0.08);
  margin-left: -3000px;
  transform-origin: 50% 48%;
  border-radius: 46%;
  pointer-events: none;
  transform: rotate(100deg);
}

.wave2 {
  opacity: 0.8;
  transform: rotate(70deg);
}

.wave3 {
  opacity: 0.6;
  transform: rotate(80deg);
}

.dark .wave {
  background: rgba(14, 73, 181, 0.2);
}

.dark .wave {
  background: rgba(14, 73, 181, 0.2);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow:hover,
focus {
  animation: spin-slow 5s linear infinite;
}


.sliderBox {
  height: auto;
  width: auto;
}
.tab-item.active {
  background-color: #3b82f6; /* رنگ پس‌زمینه فعال */
  color: white; /* رنگ متن فعال */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه برای تب فعال */
  border-radius: 8px; /* گوشه‌های گرد برای تب فعال */
}


.navForSlider .swiper-slide img {
  border: 2px solid transparent;
  border-radius: 10px;
}

.navForSlider .swiper-slide-thumb-active img {
  border-color: rgb(79 70 229);
}

.floating {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
 }
 
 .dark .floating {
  box-shadow: none;
}

        .swiper-wrapper {
            height: max-content !important;

            width: max-content;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: 25%;
            z-index: 1000;
        }

        .swiper-button-next {
            right: -0px !important;
        }

        .swiper-button-prev {
            left: 0px !important;
        }

        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: "" !important;
        }

        .mySwiper {
            max-width: 320px !important;
            margin: 0 auto !important;
        }

        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: "" !important;
        }

        .mySwiper .swiper-slide.swiper-slide-thumb-active>.swiper-slide\:w-16 {
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }

        .mySwiper .swiper-slide.swiper-slide-thumb-active>.swiper-slide\:border-indigo-600 {
            --tw-border-opacity: 1;
            border-color: rgb(79 70 229 / var(--tw-border-opacity));
        }

        .teamswiper .swiper-wrapper {
            height: max-content !important;
            padding-bottom: 64px !important;
        }

        .teamswiper .swiper-horizontal>.swiper-scrollbar,
        .teamswiper .swiper-scrollbar.swiper-scrollbar-horizontal {
            max-width: 140px !important;
            height: 3px !important;
            bottom: 25px !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
        }

        .teamswiper .swiper-pagination-fraction {
            bottom: 0 !important;
            padding-top: 16px !important;
        }

        .teamswiper .swiper-slide.swiper-slide-active>.slide\:border-indigo-600 {
            --tw-border-opacity: 1;
            border-color: rgb(79 70 229 / var(--tw-border-opacity));
        }

        .teamswiper .swiper-pagination-total {
            color: rgb(156 163 175) !important;
        }

        .teamswiper .swiper-scrollbar-drag {
            background: rgb(79 70 229);
        }

        .teamswiper .swiper-pagination-fraction {
            bottom: 0 !important;
        }

        .teamswiper .swiper-button-prev:after,
        .teamswiper .swiper-rtl .swiper-button-next:after {
            content: '' !important;
        }

        .teamswiper .swiper-button-prev {
            top: 93% !important;
            left: 35% !important;
            z-index: 100 !important;
        }

        .teamswiper .swiper-button-next {
            top: 93% !important;
            right: 35% !important;
            z-index: 100 !important;
        }

        .teamswiper .swiper-button-next:after,
        .teamswiper .swiper-rtl .swiper-button-prev:after {
            content: '' !important;
        }

        .teamswiper .swiper-button-next svg,
        .teamswiper .swiper-button-prev svg {
            width: 24px !important;
            height: 24px !important;
        }